<div class="container">
  <header>
    <div class="header--container">
      <div class="header--heading">
        2
      </div>
      <div class="header--logo">
        <h1>Finance Book</h1>
      </div>
      <div class="header--login-placeholder">
        <div class="login-pp">
          <img src="<%= picture ??
          "https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/768px-User_font_awesome.svg.png?20160212005950"
          %>" alt="profielfoto" class="user-pp" />
        </div>
        <img class="login--pp-display-name">
          <div id="login--pp-firstname">
            <h2 id="header-display-username"><%= username %></h2>
            
          </div>
          <div onclick="logOut()">
            <img class="logout"  src="/images/logout .png">
            <h6><a  id="logout" class= "log-out" >Log out</a></h6></img>
          </div>
          
          
          
          </div>
          
        </div>
        
      </div>
    </div>
  </header>
</div>
