<div class="" id="modal--menu">
  <div class="sidebar" id="hb-menu-open">
    <div class="menu" id="sidebar-menulist">
      <a href="index.html">Dashboard</a>
      <a href="https://trello.com/nl">Projecten</a>
      <a href="https://mega.io/">Klanten</a>
      <a href="https://web.snelstart.nl/">Facturen</a>
      <a href="https://www.strato.nl">Website Beheer</a>
      <a href="https://webmail.strato.com">Webmail</a>
    </div>
  </div>
</div>
