.FormError {
  display: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 12px;
  text-align: center;
  color: rgb(151, 0, 0);
  background-color: rgb(245, 115, 115);
  border-radius: 0.25rem;
}

.FormError--visible {
  display: block;
}

form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.add-trans-inputfield {
  height: 100%;
  padding: 1rem;
}
.inputfield-trans {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputfield-trans label {
  font-size: 0.8rem;
}

.inputfield-trans input {
  padding: 0.4rem;
  width: 15rem;
  height: 2.5rem;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.25), 0 10px 20px 0 rgb(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

.inputfield-trans select {
  padding: 0.4rem;
  width: 15rem;
  height: 2.5rem;
  border: 1px solid black;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.25), 0 10px 20px 0 rgb(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin-bottom: 0.3rem;
}

.filter-details {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.filterTrans {
  background-color: #fbb022;
  border-radius: 0.25rem;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.15), 0 10px 20px 0 rgb(0, 0, 0, 0.05);
}

#filterSearch {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.15), 0 10px 20px 0 rgb(0, 0, 0, 0.05);
  font-size: 0.8rem;
  width: 20rem;
  max-width: 100%;
}
